<template name="question3">

<div id="pagewrap">
<h1>Player High Lights Real Time</h1>
<marquee behaviour="scroll" direction="left">Gerald Riggs Jr. rush for 20 years for a TOUCHDOWN!</marquee>

    <section id="content">
        <h2>Profile Stats</h2>
        <ul>Toronto Argonauts</ul>
        <p>Player ID</p>
        <p>Song name: </p>

    </section>

    <section id="middle">
        <h2>Position Name: rough rider</h2>
        <p>A quarterback’s job is to direct his team toward the end zone and score as many points as possible.</p>
        <p>The typical team scores on one-third of its offensive possessions, resulting in either a touchdown or a field goal. </p>
        <p>So you can see that the quarterback is under enormous pressure to generate points every time the offense takes the field. </p>
        <p>The quarterback (QB) is the player directly behind the center receiving the ball.</p>
    </section>

    <aside id="sidebar">
        <h2>Song</h2>
        <div id="player"></div>
        <p>Artist name: Taylor Swift</p>
        <p>Song name: Blank Space</p>

        <button class="next-btn" id="btn-one">Play</button>
    </aside>


<div id="this">
    <p>MVP + Favorite</p>
    <img src="/images/pic1/5617360.jpeg" id="mvp-one">
    <img src="/images/pic2/Gerald-Riggs-Jr-CROPPED.jpg" id="mvp-two">
    <img src="/images/pic3/rgtydnbsd222j231.jpg" id="mvp-three">
    <img src="/images/pic5/mike-renaud-copy1.jpg" id="mvp-four">
    </div>

    </div>
</template>
