<template name="question3">

    <body>
    <!-- left side -->









        <marquee behaviour="scroll" direction="left">Gerald Riggs Jr. rush for 20 years for a TOUCHDOWN!</marquee>
        <div class="question1">
            <div class="main-container">
                <div class="game-container">
                    <a href="{{ pathFor 'dashboard' }}"><img src="/images/Drawing.png" class="logo" height="35" width="65"></a>
                    <h1 class="todaysdate">
    </h1>




<!-- i guess if you click on a button, it will hide $(".divIDClass").hide(); $(".divIDClass").show(); -->
<div class="first-post">
{{#Animate}}
    <div class="my-element animate">
        <div id="section1">
            <h2>Song</h2>
                    <body>
                        <div id="player"></div>
                    </body>
        </div>
    </div>
{{/Animate}}
</div>



<div class="second-post">
{{#Animate}}
    <div class="my-element animate">
        <div id="section2">
            <h2>Position</h2>
            <p>
            Standing on the River Thames, London has been a major settlement for two millennia,
            its history going back to its founding by the Romans, who named it Londinium.
            </p>
        </div>
    </div>
{{/Animate}}
</div>


<!-- so basically whenever I CLICK on a player, it displays shit using jquery. ALSO. it displays the correct information
such as the name of the person I clicked, based on the button -->

<div class="third-post">
{{#Animate}}
    <div class="my-element animate">
        <div id="section3">
            <h2>Profile Stats</h2>
            <p>
<!--             <ul>
                <li>name: {{name}}</li>
                <li>birthplace: {{birthplace}}</li>
                <li>height (ft.): {{height}}</li>
                <li>weight (lbs.): {{weight}}</li>
            </ul> -->




            </p>
        </div>
    </div>
{{/Animate}}
</div>











                    <form class="form-inline">
                        <p>MVP</p>
                        <img src="/images/pic1/5617360.jpeg" id="mvp-one">
                        <img src="/images/pic2/Gerald-Riggs-Jr-CROPPED.jpg" id="mvp-two">
                        <img src="/images/pic3/rgtydnbsd222j231.jpg" id="mvp-three">

                        <div class="fourth-post">
                        <p>Favorite</p>
                        <img src="/images/pic5/mike-renaud-copy1.jpg" id="mvp-four">
                        </div>
                    </form>

                    <!-- user clikcs on profile information a scroll pops up -->
                    <div class="todaysdate">
                        <button class="next-btn" id="btn-one">Song Information</button>
                        <!-- <button class="next-btn" id="btn-one">Song Information -->
                    </div>





                </div>
            </div>
        </div>
    </body>
</template>
